/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('../imagenes/fondo.png');
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

h1 {
    color: white !important;
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Ajusta según sea necesario */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1000px; /* Limita el ancho del formulario según sea necesario */
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#nuevoProducto {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

#productosDocumento {
    margin-bottom: 15px;
}

.error {
    color: #ff0000;
    margin-top: 10px;
}

/* Estilos para el botón */
#nuevaVenta {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nuevaVenta:hover {
    background-color: #2980b9;
}
