/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03-dic-2023, 10:21:46
    Author     : luisn
*/


 header{
        height:50%;
    }

    body {
       
        background-image: url("./../imagenes/fondoMenu.png");
        
        
    }

    #margen{
        margin-bottom: 18%;
    }


    footer {
        position: relative;
        bottom: 0%;
        width: 100%;
        background-color: #162139;
    }

        
        .navbar-nav .nav-link {
            font-size: 18px; /* Ajusta el tamaño de la fuente según tus preferencias */
            transition: color 0.3s, font-size 0.3s; /* Agrega transiciones para un efecto suave */
        }

        .navbar-nav .nav-link:hover {
            color: #ff8c00; /* Cambia el color al pasar el ratón sobre el enlace */
            font-size: 20px; /* Ajusta el tamaño de la fuente al pasar el ratón sobre el enlace */
        }
    
    .colored-link {
    background-color: #FCEBBE;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
        h3 {
            margin-top: 40px;
            font-size: 24px;
        }
        table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid black;
        }
        
        tr{
            background-color: aliceblue;
        }


        a {
            color: #333;
            text-decoration: none;
        }
        a:hover {
            color: coral;
        }
       